<md-dialog md-theme="default">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{:: item.document.name }}</h2>
      <!--<span flex></span>-->
      <!--<md-button class="md-icon-button" ng-click="close()">-->
        <!--<md-icon md-svg-src="close" aria-label="Close modal"></md-icon>-->
      <!--</md-button>-->
    </div>
  </md-toolbar>

  <md-dialog-content class="md-default-theme" layout-padding="lg">
    <h2>{{:: item.document.name }}</h2>
    <h4>Type: {{:: item.contentType | titlecase }}</h4>
    <img class="content-thumbnail" ng-src="{{ item.getVariantUrl('320.png') }}"></img>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" ng-click="fling()">Fling</md-button>
    <md-button class="md-primary" ng-click="open()">Open</md-button>
    <div flex></div>
    <md-button ng-click="close()">Close</md-button>
  </md-dialog-actions>

</md-dialog>
